.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

.container {
  position: relative;
}

.visibility-0 {
  visibility: hidden;
}

.visibility-1 {
  visibility: visible;
}

.none {
  display: none;
}

.block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
